body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #8ecae6; /* Um azul claro */
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #8ecae6; /* Um azul claro */
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #cae8ff; /* Um azul muito claro */
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #cae8ff; /* Um azul muito claro */
}

.text-colored {
    color: #8ecae6; /* Um azul claro */
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #8ecae6; /* Um azul claro */
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #8ecae6; /* Um azul claro */
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

.event-image {
    height: 250px; /* ou a altura que desejar */
    width: 100%;
    object-fit: cover; /* Isso vai garantir que a imagem cubra a área determinada sem distorção */
    object-position: center; /* Isso vai centralizar a parte visível da imagem */
}
